<h1><%= link_to("Admin", "../../admin") %> > <%= link_to("Adjective List", {:action => 'list'}, :class => 'back-link') %> > Edit Adjective</h1>

<%= form_for(:adjective, :url => { :action => 'update', :id => @adjective.id }) do |f| %>
	
	<p>Word: <%= f.text_field(:adjective) %></p>
	
	<%= submit_tag("Update Adjective")%>

<% end %>