<h1><%= link_to("Admin",  "#{root_path}admin") %> > <%= link_to("Adjective List",  "#{root_path}admin/adjectives", :class => 'back-link') %> > New Adjective</h1>

<%= form_for(:adjective, :url => {:action => 'create'}) do |f| %>
	
	<p>Word: <%= f.text_field(:adjective) %></p>
	
	<%= submit_tag("Create New Adjective")%>

<% end %>