<h1><%= link_to("Admin", "../../admin") %> > <%= link_to("Adjective List", {:action => 'list'}, :class => 'back-link') %> > New Adjective</h1>

<%= form_for(:adjective, :url => {:action => 'create'}) do |f| %>
	
	<p>Word: <%= f.text_field(:adjective) %></p>
	
	<%= submit_tag("Create New Adjective")%>

<% end %>