<div id="content">
	
	<div id="your-audience">
	
		<h1 class="headline">
			<%= @adjective %>
			<%= @noun %>
			<%= @prep_phrase %>
		</h1>
	
	</div>
	
	<div class="clear-both"></div>
		
	<div class="no button"><%= link_to @no_option, root_path %></div>

	<div class="yes button"><%= link_to "Yes, that'll work. Gimme more info.","#" %></div>

</div>

<div class="clear-both"></div>
	
<div id="footer">
	
	<div class="get-me-out">
		<%= link_to "Get me outta here!","#" %>
	</div>
	
<div>