<h1><%= link_to("Admin", "../../admin") %> > <%= link_to("Noun List", {:action => 'list'}, :class => 'back-link') %> > Delete Noun</h1>

<%= form_for(:noun, :url => { :action => 'destroy', :id => @noun.id }) do |f| %>
	
	<p>Are you sure you want to delete the noun "<%= @noun.noun %>"</p>
	
	<%= submit_tag("Delete Noun")%>

<% end %>