<h1><%= link_to("Admin", "../admin") %> > Noun List</h1>

<p><%= link_to("Create New Noun", {:action => 'new'}, :class => 'new-link') %></p>

<% if !flash[:notice].blank? %>
<div class="notice">
	<%= flash[:notice] %>
</div>
<% end %>

<table cellpadding="5" cellspacing="5">
	
<% @nouns.each do |noun| %>
	<tr>
		<td><%= noun.id %></td>
		<td><%= noun.noun %></td>
		<td><%= link_to("Show", {:action => 'show', :id => noun.id}, :class => 'action show') %></td>
		<td><%= link_to("Edit", {:action => 'edit', :id => noun.id}, :class => 'action edit') %></td>
		<td><%= link_to("Delete", {:action => 'delete', :id => noun.id}, :class => 'action delete') %></td>
	</tr>
<% end %>

</table>