<h1><%= link_to("Admin", "../../admin") %> > <%= link_to("Phrase List", {:action => 'list'}, :class => 'back-link') %> > Edit Phrase</h1>

<%= form_for(:prep_phrase, :url => { :action => 'update', :id => @prep_phrase.id }) do |f| %>
	
	<p>Word: <%= f.text_field(:prep_phrase) %></p>
	
	<%= submit_tag("Update Phrase")%>

<% end %>