<h1><%= link_to("Admin", "../../admin") %> > <%= link_to("Phrase List", {:action => 'list'}, :class => 'back-link') %> > New Phrase</h1>

<%= form_for(:prep_phrase, :url => {:action => 'create'}) do |f| %>
	
	<p>Word: <%= f.text_field(:prep_phrase) %></p>
	
	<%= submit_tag("Create New Noun")%>

<% end %>