<h1><%= link_to("Admin", "#{root_path}admin") %> > <%= link_to("No-Option List", "#{root_path}admin/no_options", :class => 'back-link') %> > Delete No-Option</h1>

<%= form_for(:no_option, :url => { :action => 'destroy', :id => @no_option.id }) do |f| %>
	
	<p>Are you sure you want to delete the no_option "<%= @no_option.no_option %>"</p>
	
	<%= submit_tag("Delete No-Option")%>

<% end %>