<h1><%= link_to("Admin", "#{root_path}admin") %> > <%= link_to("No-Option List", "#{root_path}admin/no_options", :class => 'back-link') %> > New No-Option</h1>

<%= form_for(:no_option, :url => {:action => 'create'}) do |f| %>
	
	<p>Word: <%= f.text_field(:no_option) %></p>
	
	<%= submit_tag("Create New No-Option")%>

<% end %>